<!DOCTYPE html>
<html lang="en" class="flex w-full h-full">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/main.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col w-full h-full bg-zinc-900">
  <%-body%>
</body>

</html>